* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* overflow-x: hidden; */
    color: #232323;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(100deg, rgba(253, 173, 235, 0.819), rgb(255, 255, 255));
}

body {
    position: inherit;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4BkUs6GutT6NWl4eSWW1m-gzogy9T-Xy8TQ&usqp=CAU");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    filter: blur(5vw);
    z-index: -1;
}


*::selection {
    background-color: rgb(255, 80, 194);
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    position: sticky;
    transition: all 1s ease-in-out;
    border-radius: 10px;
    border: transparent;
    height: 4.7rem;
    overflow: hidden;
}

header.scrolled {
    top: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(100deg, rgba(253, 173, 235, 0.819), rgb(255, 255, 255));
}

.logo {
    font-weight: 700;
    font-size: 2.1rem;
    margin-left: 3vw;
    user-select: none;
    overflow: hidden;
}

nav {
    align-items: center;
    font-weight: 600;
    font-size: 1.3rem;
    overflow: hidden;
    height: 100%;
    width: 60%;
}

header ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

header li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    list-style: none;
}

header a {
    padding: .6rem 1.5vw;
    border-radius: 10px;
    transition: all .3s ease;
    overflow: hidden;

}

header a:hover {
    box-shadow: 1px 4px 8px rgba(253, 44, 152, 0.63);
}

section {
    display: flex;
    width: 100%;
    /* height:   calc(100vh - 90px); */
    height: auto;

}

.home-section {
    display: flex;
    height: 85vh;
    width: 100%;
    overflow: hidden;
}

main-left {
    width: 60%;
    padding: 30px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main-left {
    height: auto;
    width: 100%;
    /* padding: 20px 30px; */
    transition: all 1.5s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-left p {
    font-size: 1.9vw;
    font-weight: 500;
    margin-bottom: 1.8vh;
}

.main-left h3 {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

.main-left h1 {
    font-size: 4.2vw;
    line-height: 5vw;
    margin-bottom: 1vh;
}

.button-section {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-btn {
    border-radius: 10px;
    padding: .5vw 1.5vw;
    font-size: 1.7vw;
    font-weight: 400;
    border: none;
    background-color: transparent;
    transition: all .5s ease-in-out;
    cursor: pointer;
    outline: 1px;
}

.main-btn:hover {
    box-shadow: 10px 10px 15px rgba(253, 44, 152, 0.63);
}

.social-icons {
    margin-top: 1.5vw;
    overflow: hidden;
}

.social-icons:hover {
    overflow: visible;
}

.social-icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    border: 2px solid #232323;
    background-color: #232323;
    width: 4vw;
    height: 4vw;
    /* border: 2px solid green; */
}


.icon {
    color: #ff1fad;
    font-size: 3vw;
}

.social-icons ul li a:hover {
    transform: translateY(-5px);
}

.moving-image {
    width: 100%;
    height: 100%;


}


.divider {
    height: 79px;
}

.skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.main-skill {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill-heading h2 {
    padding-left: 32px;
    text-align: left;
    overflow-x: hidden;
    font-size: 2.4rem;
}

.skill {
    height: 6vw;
    width: 6vw;
    border: 1px solid black;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.527);
    overflow: hidden;
}

.skill:hover {
    box-shadow: 2px 2px 20px rgba(255, 44, 157, 0.8);
    animation: heart-beat 1.4s infinite;
}

@keyframes heart-beat {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(0.9);
    }
}

.animate {
    transform: translateX(20px);
}

.skills-girl {
    position: relative;
    height: 210px;
    width: 210px;
    margin-top: -33px;
}

.skills-girl2 {
    height: 230px;
    width: 220px;
}

.skill-heading {
    display: flex;
    justify-content: space-between;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.skills-section p {
    font-size: 2.8vw;
    font-weight: 600;
}

.indivisual-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.indivisual-skills label {
    font-size: 1.5vw;
    margin-top: 1vw;
    padding: 5px;
    font-weight: 500;
}

.skill img {
    width: 80%;
}

/* project section started  */
.project-heading {
    padding-left: 37px;
    text-align: left;
    font-size: 2.4rem;
}


.tougle {
    margin-right: 100px;
}

.tougle input {
    display: none;
}

.tougle label {
    border: 1px solid rgba(255, 127, 200, 0.761);
    width: 400px;
    height: 70px;
    border-radius: 32px;
    transition: all .8s ease-in-out;
    position: relative;
    cursor: pointer;
}

.tougle label::before {
    position: absolute;
    content: 'Mini Projects\00a0\25B6';
    height: 60px;
    width: 180px;
    background: linear-gradient(to right, rgba(255, 127, 200, 0.761), white);
    border-radius: 30px;
    padding: 2px 15px;
    margin: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    font-weight: 600;
}

.tougle input:checked {
    +label::before {
        content: "\25C0 \00a0 Full Projects";
        color: rgb(6, 6, 6);
        background: linear-gradient(to left, rgba(255, 127, 200, 0.761), white);
        transform: translateX(184px);
        transition: all .5s ease-in-out;
        font-weight: 600;

    }
}


.projects-section {
    display: block;
    width: auto;
}


swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px 0px;
    /* background-color: blue; */
    padding: 40px 0px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.project-container {
    position: relative;
}

.project-card {
    width: 450px;
    height: 400px;
    margin: 25px 15px;
    border-radius: 11px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 30px rgb(255, 88, 185);
    display: flex;
    bottom: 0;
    position: relative;
    opacity: 1;
}

.card-content {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgb(255, 52, 208), rgba(255, 255, 255, 0.74));
    opacity: 0;
    font-weight: 600;
    transition: all .7s ease-in-out;
}
.card-content p{
    font-size: 1rem;
    color: black;
}

.card-content h2 {
    font-size: 2rem;
}

.card-content .project-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    cursor: pointer;
    margin: 1px auto;
    width: 30%;
}

.card-content:hover {
    opacity: 1;
}

/* about section started  */
.about-section {
    min-width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.about-heading {
    display: flex;
    justify-content: space-between;
}

.about-heading h1 {
    text-align: left;
    padding-left: 32px;
    font-size: 2.4rem;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.left-about {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.left-about img {
    height: 75%;
    width: 75%;
}

.right-about {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-about p {
    font-size: 1.5vw;
    line-height: 1.7em;
    letter-spacing: .6px;
    font-weight: 500;
    color: rgb(79, 79, 79);
    margin-bottom: 40px;
}

.right-about span {
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    max-width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
}

.right-about i {
    align-items: center;
    font-size: 23px;
    padding-right: 10px;
}

/* contact section stared  */
.contact-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.contact-heading {
    display: flex;
    overflow: visible;
    justify-content: space-between;
}

.contact-heading h1 {
    text-align: left;
    padding-left: 32px;
    font-size: 2.4rem;
}

.contact-heading img {
    height: 220px;
    width: 210px;
    z-index: 3;
    margin-bottom: -85px;
    transform: translateX(-120px);
}

.contact-container {
    height: auto;
    margin: 1px 100px;
    border-radius: 10px;
    display: flex;
    z-index: 2;
    background-color: rgba(255, 125, 197, 0.306);
}

.left-contact {
    flex: 1;
}

.left-contact img {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-top: 40px;
}

.right-contact {
    flex: 1.5;
}

.right-contact form {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    margin: 30px auto;
    background: transparent;
}

.right-contact form .input .error {
    position: absolute;
    transform: translateY(225%);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.right-contact form input {
    background: transparent;
    outline: none;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 0 1.8vw;
    height: 35px;
    min-width: 100%;
    padding-left: 2vw;
}

.right-contact form label {
    margin: 9px 1px;
}

.right-contact form #message {
    resize: none;
    height: 150px;
    min-width: 100%;
    background: transparent;
    outline: none;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 0.5vw 1.8vw;
}

.right-contact form button {
    width: 30%;
    padding: 8px 2px;
    margin: 15px auto;
    font-size: 17px;
    border-radius: 7px;
    cursor: pointer;
    transition: .7s ease all;
    background: transparent;
    border: .5px solid;
    border: 0.5px solid;

}

.error i {
    color: rgb(216, 2, 2);
}

#error-message {
    color: red;
}

.right-contact form button:hover {
    box-shadow: 10px 10px 15px rgba(253, 44, 152, 0.63);
    outline: 1px;
}

.nav-container {
    display: none;
}


.popup {
    height: 24vw;
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    visibility: hidden;
    box-shadow: 3px 3px 30px rgb(255, 88, 185);
    background: linear-gradient(45deg, rgb(253, 173, 234), rgb(255, 255, 255));
    transition: all .5s ease;
}

.open-popup {
    visibility: visible;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

}

.popup>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup>div>img {
    height: 10vw;
    width: 10vw;
    margin-top: -15%;
    border-radius: 50%;
    border-bottom: 2px solid gray;
}

#popup-h2 {
    font-size: 4vw;
    font-weight: 900;
}

#popup-p {
    font-size: 1.5vw;
    font-weight: 600;
}

.popup button {
    position: absolute;
    padding: 15px 50px;
    border-radius: 15px;
    border: 2px solid gray;
    background-color: transparent;
    font-size: 1vw;
    font-weight: 800;
    bottom: 10px;
    cursor: pointer;
}

/* Tablet responsive section started  */
@media (max-width: 1150px) {
    header a {
        padding: .3rem 15px;
        margin: .1rem;
        font-size: 1.2rem;
    }

    .moving-image {
        width: 50vw;
    }

    .main-left {
        padding: 3vw 1vw;
        transition: all 1.5s ease;
        display: flex;
        flex-direction: column;
    }

    .main-left p {
        font-size: 2.5vw;
        font-weight: 400;
        margin-bottom: .9vw;
    }

    .main-left h3 {
        font-size: 3.5vw;
        font-weight: 500;
        margin-bottom: 1.5vw;
    }

    .main-left h1 {
        font-size: 4.5vw;
        line-height: 6vw;
        font-weight: 800;
        margin-bottom: 5px;
    }

    .button-section {
        text-align: left;
    }

    .main-btn {
        border-radius: 10px;
        padding: 10px 10px;
        font-size: 2.5vw;
        font-weight: 400;
        border: none;
        background-color: transparent;
        transition: all .5s ease-in-out;
        cursor: pointer;
        outline: 1px;
    }

    .button-section img {
        height: 70px;
        width: 70px;
    }

    .social-icons ul li a {
        margin-top: 1.5rem;
        width: 5.5vw;
        height: 5.5vw;
    }

    .social-icons .icon {
        font-size: 4vw;
    }

    .skill {
        height: 6.5vw;
        width: 6.5vw;
    }

    .card-content {
        gap: 10px;
        padding: 10px;
        font-weight: 600;
    }

    .card-content p {
        font-size: 1.3vw;
    }

    .card-content h2 {
        font-size: 2vw;
    }

    .project-card {
        width: 380px;
        height: 360px;
        margin: 14px;
    }

    .left-about {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .left-about img {
        height: 400px;
        width: 430px;
    }

    .right-about {
        flex: 2;
        padding: 20px;
        gap: 22px;
    }
}

@media(max-width: 830px) {
    .divider {
        height: 55px;
    }

    .background {
        filter: blur(28px);
    }

    .nav-container {
        display: block;
        z-index: 100;
    }

    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

    :root {
        --white: #ffffff;
        --violet: linear-gradient(to top, rgb(255, 52, 208), rgba(255, 255, 255, 0.74));
        --dark-violet: rgb(255, 110, 231);
        --black: #21232a;
    }



    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        padding: 0 20px;
        background: var(--light-grey);
        color: var(--white);
        z-index: 100;
    }

    .nav {
        z-index: 50;
        display: flex;
        position: fixed;
        justify-content: center;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 8px;
        border-radius: 2px 2px 25px 25px;
        background: var(--dark-violet);
        box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
            rgb(0 0 0 / 15%) 0 18px 36px -18px;
        height: 55px;
        overflow: visible;
    }

    .nav [type="checkbox"] {
        display: none;
    }

    .nav [type="checkbox"]+label {
        position: relative;
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        z-index: 51;
        background: var(--violet);
        transition: all 0.9s ease-in-out;
        border-radius: 50%;
        transform: translateY(-30%);
        transition: all 0.2s;
        color: var(--white);
    }

    .nav [type="checkbox"]+label:hover {
        background: var(--violet);
    }

    .menu li {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.4s;
        visibility: hidden;
    }

    .menu li:nth-child(1) {
        transition-delay: 0.2s;
    }

    .menu li:nth-child(2) {
        transition-delay: 0.15s;
    }

    .menu li:nth-child(3) {
        transition-delay: 0.1s;
    }

    .menu li:nth-child(4) {
        transition-delay: 0.05s;
    }

    .menu li:nth-child(5) {
        transition-delay: 0.05s;
    }

    .menu li a {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--violet);
    }

    .menu li a span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(calc(-100% - 5px));
        width: 100%;
        font-size: 13px;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
        color: var(--black);
        font-weight: bold;
    }

    .nav input:checked~ .menu li{
        visibility: visible;
    }
    .nav input:checked+label {
        background: var(--violet);
        transform: translateY(calc(-30% + 4px));
    }

    .nav input:checked~.menu li:nth-child(1) {
        top: -290px;
        transition-delay: 0.1s;
    }

    .nav input:checked~.menu li:nth-child(2) {
        top: -200px;
        left: calc(50% - 100px);
        transition-delay: 0.2s;
    }

    .nav input:checked~.menu li:nth-child(3) {
        top: -200px;
        left: calc(50% + 100px);
        transition-delay: 0.3s;
    }

    .nav input:checked~.menu li:nth-child(4) {
        top: -110px;
        transition-delay: 0.4s;
    }

    .nav input:checked~.menu li:nth-child(5) {
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        transition-delay: 0.3s;
    }

    .nav input:checked~.menu li a span {
        opacity: 1;
        transition-delay: 0.9s;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(7px);
        /* Apply blur effect */
        z-index: 10;
    }

    header nav {
        display: none;
    }

    header {
        margin: 0;
        padding: 14px;
        height: 3rem;

    }

    .logo {
        font-weight: 800;
        font-size: 1.6rem;
        user-select: none;
    }

    .home-section {
        margin-bottom: 40px;
        height: calc(100vh - 3rem);
    }

    .moving-image {
        height: auto;
    }

    main-left {
        padding: 5px;
    }

    .main-left {
        padding: 5px;
        /* align-items: center; */
        margin: 0;
        transition: all 2s ease;
    }


    .button-section {
        margin-top: 10px;
        justify-content: flex-start;
        gap: 20px;
    }

    .main-btn {
        justify-content: left;
        padding: 7px;
        font-size: 16px;
    }

    .button-section img {
        display: none;
    }

    .social-icons ul li a {
        margin-top: 1.5rem;
        width: 7vw;
        height: 7vw;
    }

    .social-icons .icon {
        font-size: 5vw;
    }

    .skill {
        height: 10vw;
        overflow: hidden;
        width: 10vw;
        margin: 5px;
    }

    .skills-section {
        margin: 0;
        padding: 0;
        row-gap: 30px;

    }

    .skill-heading h2 {
        font-size: 1.3rem;
        padding: 10px;
    }

    .skills-girl {
        height: 160px;
        width: 160px;
        margin-top: -70px;
        position: relative;
    }

    .skills-section p {
        font-size: 17px;
        font-weight: 400;
        padding: 5px;
    }

    .skills-section label {
        font-size: 3vw;
    }

    .skill-container {
        gap: 15px;
    }



    .skills-girl2 {
        height: 150px;
        width: 150px;
    }

    /* project design start */
    .projects-section h1 {
        padding-left: 10px;
        font-size: 1.3rem;
    }
    swiper-container{
        padding: 0px;
    }
    .project-card {
        width: 320px;
        height: 320px;
        margin-top: 40px;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .project-card .card-content {
        padding: 2px;
    }

    .card-content p {
        font-size: 12px;
        font-weight: 500;
    }

    .card-content h2 {
        font-size: 1rem;
        font-weight: 900;
    }

    .card-content h4 {
        font-weight: 600;
        font-size: .8rem;
    }

    .card-content .project-links i{
        font-size: 23px;
    }


    /* about design start  */
    .about-heading h1 {
        font-size: 1.3rem;
        padding-left: 10px;
    }

    .about-container {
        flex-direction: column;
        /* overflow: hidden; */
    }

    .left-about {
        width: 100%;
    }


    .right-about {
        width: 100%;
        padding: 5px;
        gap: 5px;
    }


    .right-about a span {
        font-size: 15px;
        line-height: 30px;
    }

    .right-about p {
        line-height: 1.6em;
        font-size: 15px;
        margin-bottom: 15px;
    }


    .right-about i {
        padding-right: 6px;
        font-size: 17px;
    }

    /* contact design started  */
    .contact-heading h1 {
        font-size: 1.3rem;
        padding-left: 10px;
    }

    .contact-heading img {
        height: 155px;
        width: 145px;
        margin-bottom: -75px;
        transform: translateX(-30px);
    }

    .contact-container {
        margin: .9rem;
        flex-direction: column-reverse;
    }

    .left-contact img {
        height: 400px;
    }

    .right-contact form {
        width: 90%;
        margin: 20px auto;
    }

    .right-contact form label {
        margin: 4px 1px;
        font-size: 13px;
    }

    .right-contact form .input .error {
        position: absolute;
        transform: translateY(150%);
    }

    .right-contact form input {
        padding-left: 3vw;
    }

    .right-contact form #message {
        padding-left: 3vw;
    }

    .right-contact form button {
        width: 40%;
        padding: 7px 5px;
        margin: 15px auto;
        font-size: 14px;
        border-radius: 7px;
    }

    .popup {
        height: 50vw;
        width: 75vw;
    }

    .popup>div>img {
        height: 18vw;
        width: 18vw;
        margin-top: -15%;
    }

    #popup-h2 {
        font-size: 8.5vw;
    }

    #popup-p {
        overflow: hidden;
        font-size: 3vw;
        font-weight: 500;
    }

    .popup button {
        font-size: 3.5vw;
        padding: 7px 30px;
        border-radius: 10px;
    }

}

@media (max-width: 700px) {
    .home-section {
        flex-direction: column-reverse;
    }

    main-left {
        width: 100%;
    }

    main-right {
        overflow: hidden;
        width: 100%;
    }

    .moving-image {
        position: relative;
        top: 0px;
        height: 100%;
        width: auto;
    }

    .right-contact form input {
        padding-left: 4vw;
    }

    .right-contact form #message {
        padding-left: 4vw;
    }
}

@media (max-width: 500px) {
    .home-section {
        margin-top: 0px;
    }

    .main-left p {
        font-size: 18px;
        font-weight: 400;
    }

    .main-left h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .main-left h1 {
        font-size: 25px;
        font-weight: 800;
        line-height: 33px;
    }

    .button-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }

    .button-section img {
        display: none;
    }

    .social-icons ul li a {
        height: 10vw;
        width: 10vw;
        margin-top: 1.2rem;

    }

    .icon {
        font-size: 8.5vw;
    }

    .left-about img {
        width: 100%;
        height: 90%;
    }

    .right-about p {
        line-height: 1.4em;
        font-size: 13px;
    }

    .skill {
        height: 16vw;
        width: 16vw;
    }

    .skills-section label {
        font-size: 4vw;
    }

    .right-contact form input {
        padding-left: 6vw;
    }

    .right-contact form #message {
        padding-left: 6vw;
    }

    .popup {
        height: 60vw;
    }

    .popup>div>img {
        height: 20vw;
        width: 20vw;
        margin-top: -18%;
    }

    #popup-p {
        font-size: 3.8vw;
        padding: 4vw 3vw 0;
        font-weight: 500;
    }

    .popup button {
        font-size: 4vw;
        border-radius: 10px;
    }
}